html,
body {
  height: 100%;
  width: 100%;
  background-color: #232530;
  background-repeat: repeat;
  color-scheme: dark;
}

@font-face {
  font-family: "Bad Comic";
  src: url(https://mimuki.github.io/fonts/bad_comic_regular.woff);
}
@font-face {
  font-family: "linja lipamanka";
  src: url(https://mimuki.github.io/fonts/linja_lipamanka_regular.woff);
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Bad Comic", Calibri, Tahoma, sans-serif;
  font-size: 18pt;
}

.tok {
  font-family: "linja lipamanka", "Bad Comic", Calibri, Tahoma, sans-serif;
  font-size: 18pt;
}

.tok a {
  text-underline-offset: 8px;
}

.tok aside {
  display: inline-block;
  text-align: center;
  background: #6272a4;
  padding: 20px;
  margin: 1% 20%;
  width: 60%;
}

h1,
h2 {
  font-size: 22pt;
}

h1,
h2,
h3 {
  color: #f8f8f2;
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  color: #f8f8f2;
  margin-top: 0;
  margin-bottom: 0;
}

p, li {
  line-height: 150%;
}
a:link{
  color: #8be9fd;
}
a:visited {
  color:#bd93f9;
}
a:hover,
a:active,
a:focus  {
  color: #ff79c6;
}

ol,
ul {
  padding-left: 0;
  list-style: none;
}


::selection {
  color: #282a36;
  background-color: #bd93f9;
}
:focus {
  box-shadow: inset 0 0 0 3px #bd93f9;
}

.shouty {
  text-transform: uppercase;
}

/* -- [ Dual columns ] ------------------------------------------------------ */

.row {
  display: flex;
  max-width: 1275px;
  margin: 0 auto;
  background-color: #1e2029;
}
.left {
  flex: 30%;
}

.right {
  flex: 70%;
}

/* makes the gap in the middle look good*/
.left section {
  margin-right: 5px;
}
.right section {
  margin-left: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* -- [ Header ] ------------------------------------------------------------ */
header {
  text-align: center;
  height: auto;
}

#menu,
#inner-menu {
  width: 100%;
  height: 100%;
  margin: none;
}
#inner-menu li, #inner-menu a {
  width: 100%;
  box-sizing: border-box;
  padding: 3px;
}
#menu ul,
#inner-menu ul {
  text-align: center;
  margin: none;
  background: #282a36;
}

#menu li,
#inner-menu li {
  display: inline-block;
}

#menu li a,
#menu li span,
#inner-menu li a,
#inner-menu li span {
  display: inline-block;
  padding: 0em 0.75em;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
  text-transform: lowercase;
  line-height: 50px;
  font-size: 18pt;
}

#menu li a,
#inner-menu li a {
  color: #f8f8f2;
}
.active a {
  color: #282a36 !important;
  background: #bd93f9;
  box-shadow: inset 0 0 0 3px #bd93f9;
}
/* Hovering on the menu makes it highlight */
#menu li:hover a,
#menu li span,
#inner-menu li:hover a,
#inner-menu li span {
  background: #6272a4;
  color: #f8f8f2 !important;
  text-decoration: none;
}

/* When tabbing into the menu, show the same background as hover alongside the border all focussed elements get.*/
#menu a:focus,
#inner-menu a:focus{
  background: #6272a4;
  color: #f8f8f2 !important;
  text-decoration: none;
}

/* make each section of content distinct */
section {
  margin: 10px;
  background: #282a36;
}

/* top bar highlight for headers */
section h1,
h2,
h3 {
  background: #44475a;
  padding: 10px 20px;
}
section h1:focus-within {
  background: #6272a4 !important;
  box-shadow: inset 0 0 0 3px #bd93f9;
}

section.subpage h1 a {
  color: #f8f8f2;
}

section p {
  padding: 15px;
}



section li {
  padding: 0 15px;
  list-style-type: '·  ';
  list-style-position: inside;
}
.tok section li {
  padding: 0 15px;
  list-style-type: '·';
  list-style-position: inside;
}

#about img {
  width: 100%;
  max-width: 300px;
  vertical-align: middle;
}
/* Magic centering class */
.center {
  text-align: center;
  padding: 10px;
  image-rendering: pixelated;
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* TODO: maybe make this work like the stamps */
.pokemonBig {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
  padding: 10px;
  font-size: 90px;
}

.pokemonSmall {
  text-align: center;
  padding: 10px;
  image-rendering: pixelated;
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Stamps default to 88px wide */
.stamp {
  width: 88px;
  image-rendering: pixelated;
}
/* If the screen is big enough to display 3 of them on one line at double size 
  (+20px padding), do so */
@media screen and (min-width: 548px) {
  .stamp {
    width: 176px;
  }
}

.stamps {
  text-align: center;
  background: none;
}

code {
  width: 90%;
  color: #f8f8f2;
  background: #232530;
  display: inline-block;
  margin: 2.5%;
  padding: 2.5%;
}
/* -- [ Webring ] ----------------------------------------------------------- */
.webRing {
  text-align: center;
}

.prev {
  float: left;
}

.next {
  float: right;
}

/* -- [ Mobile Support ] ---------------------------------------------------- */
@media screen and (max-width: 1000px) {
  /* Makes the two columns become one, its pretty cool */
  .left, .right, .row {
      width: 100%;
      display: block;
  }
  /* makes the menu list have one thing on each line */
  #menu li {
      display: block;
  }
  /* makes the buttons much wider */
  #menu li a {
      width: 100%;
      padding: none;
      margin: none;
  }
  #menu li a,
  #menu li span,
  #inner-menu li a,
  #inner-menu li span {
    padding: 0;
    margin: 0;
  }

  /* the middle gap doesn't exist any more!
     therefore we can make the margin the same on all sides again */
  .left section,
  .right section {
      margin: 10px;
  }
  /* Without this, there's extra space between the last "left" column and the 
     first "right" column in single column view */
  .left section:last-of-type,
  .left,
  .right {
      margin-bottom: 0px;
  }
}