/* [0] Core */
html { 
  /* Sitewide background */
  background-color: #282a36;
  /* Default fonts */
  font-family: "Andika Rats", "Andika", Calibri, Tahoma, sans-serif;
  font-size: 18pt;
}
body { margin: 0 } /* Defaults to 8?? */
/* Headings */
h1, h2, h3, 
h4, h5, h6 {
  color: #f8f8f2;
  margin: 0; /* defaults to 0.83em? */
  line-height: 100%; /* Defaults to... more than that */
}
/* Heading sizes */
h1 { font-size: 22pt }
h2 { font-size: 22pt }
h3 { font-size: 22pt }
h4 { font-size: 20pt }
h5 { font-size: 18pt }
h6 { font-size: 17pt }
/* Defaults for most text */
p, ol, ul {
  color: #f8f8f2;
  line-height: 140%; /* The default is slightly more than this */
}

p { 
  padding: 7.5px 15px; /* See [PS], there's a lot of magic affecting this */
  margin: 0; /* defaults to 1em? */
}
ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

li { padding: 0 }

/* Link colours */
a:link    { color: #8be9fd }
a:visited { color: #bd93f9 }
a:hover,
a:active,
a:focus   { color: #ff79c6 }
/* Highlighted text */
::selection {
  color: #282a36;
  background-color: #ff79c6;
}
/* Focus indicator */
:focus {
  box-shadow: inset 0 0 0 3px #ff79c6 !important;
  outline: none;
}
/* Body is split into two parts, both inside of a row. */
/* It makes sure .left and .right take up a good amount of space */
.row {
  display: flex;
  max-width: 1279px;
  margin: 0 auto;
  background-color: #1e2029
}
.left  { flex: 30% }
.right { flex: 70% }

code {
  width: 90%;
  color: #f8f8f2;
  background: #232530;
  display: inline-block;
  margin: 2.5%;
  padding: 2.5%;
}
/* [1] Header Specific ------------------------------------------------------ */

/* Improve header margins */
#menu ul { 
  margin-top: 4px; /* Fixes being slightly offscreen  */
  margin-bottom: 4px; /* setting this to 3 or lower breaks things */
  padding-left: 0; /* defaults to 40?! */
}
/* Display top navbar's items all on the same line */
#menu li, #inner-menu li { display: inline-block }
/* jump tos etc are different */
#inner-menu li, #inner-menu a { 
  width: 100%; 
  box-sizing: border-box;
}
/* General header link styling */
.headerRight,   /* see [PS] */
#menu li a,     /* Top nav bar links */
#inner-menu a { /* Jump-tos and other in-page menus */
  color: #f8f8f2;
  padding: 1px 0.4em; /* 2px to ensure it aligns with my browser UI */
  text-decoration: none; /* Don't underline */
  text-transform: lowercase;
  line-height: 100%; /* Helps with alignment */
}
/* Jump to menus etc */
#inner-menu a { 
  display: flex;
  justify-content: center;
  line-height: 36px;
  margin: 0 !important; /* Avoids clashing with section a:focus */
}
/* Currently active page */
.active a {
  color: #282a36 !important; 
  background: #8be9fd;
}
/* Currently hovered/focused link */
#menu li:hover a,
#menu a:focus:not(.skip), /* see [PS] */
#inner-menu a:hover,
#inner-menu a:focus {
  background: #6272a4 !important;
  color: #f8f8f2 !important;
}

/* * * * */

/* [2] Section Specific ----------------------------------------------------- */

section {
  margin: 10px;
  background: #282a36;
}

.left section { margin-right: 5px }
.right section { margin-left: 5px }

section h1,
section h2,
section h3 {
  padding: 10px 20px;
  background: #44475a;
}
/* This gets changed in [PS] */
section ul { padding: 7.5px 15px }
section li {
  list-style-type: '·  ';/* Characters of your choice */
  list-style-position: inside;
}

/* [3] Post-content --------------------------------------------------------- */
/* Webring */
.webRing { text-align: center }
.prev { float: left }
.next { float: right }
/* Banners */
.banners, .bannersPage {
  text-align: center;
  background: none;
  line-height: 0;
}
/* Default size: the actual size */
.banner {
  width: 88px;
  image-rendering: pixelated;
}
/* If two will fit side by side at double side (including 20px padding) */
@media screen and (min-width: 372px) {
  .banner { width: 176px }
}
/* * * * * * * * * * * */
/* [PS]  Precise Stuff */
/* * * * * * * * * * * */

/* [0] Core */

/* [1] Header Specific */

/* Focus indicator */
/* Why?
 * * Certain special stuff gets a unique bg colour. 
 * * Carrying that over here is fun. 
 * * Certain stuff needs special handling, like banner images */
.active a:focus {
  box-shadow: inset 0 0 0 3px #8be9fd !important;
}

.headerLeft:focus {
  box-shadow: inset 0 0 0 3px #bd93f9 !important;
}

/* Makes text focus look nicer */
section a:focus {
  padding: 0  10px  2px; /* add more space between border and text */
  margin:  0 -10px -2px; /* Don't shift around text when you do */
  text-decoration: none; /* The outline says it's a link */
}
/* Don't show a redundant outline for the "text" */
.banners a { box-shadow: none !important }
/* Show banner focus */
.banners a:focus img {
  outline: 3px solid #ff79c6;
  outline-offset: -3px;
  
}
/* Special coloured header links*/
/* Why?
 * * .headerLeft makes the "home" button more obvious
 * * .headerRight looks fun, and could some day be used for a theme indicator or toggle. 
 * * .skip is important for keyboard only navigation- it's only visible sometimes, and needs to be distinct */
.headerLeft {
  background: #bd93f9;
  color: #282a36 !important;
}
.headerRight {
  margin-top: -4px; /* Adjust positioning */
  line-height: 38px; /* Make tall enough to look good */
  float: right;
  background: #ffb86c;
  color: #282a36;
}
/* By default, be offscren */
.skip {
  position: absolute;
  left: -1000px;
  background: #ff79c6 !important;
  color: #282a36 !important;
}
/* If focused (e.g. screenreader, pressing tab), make visible */
.skip:focus-within {
  position: static;
  left: 0px;
  text-align: left;
}

/* [2] Section Specific ----------------------------------------------------- */
/* Better portrait */
/* Why?
 * * Setting the max width will make it look nice, but if the section it's in
 *   gets too narrow, it'll overflow, and that's bad. */
#about img {
  display: block;
  width: 100%; /* If none of the following are supported- looks bad on mobile */
  width: -moz-available; /* Webkit-based browsers will ignore this */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this */
  width: fill-available; 
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  image-rendering: pixelated;

}
/* Special Section Aesthetic Nonsense */
/* Why?
 * * Visually, we want it to look like sections have a heading "on top" of them
 * * This is semantically bad, and the alternative (having a div for everything
 *   but the headings) is awful.
 * * So, we "fake" that look by giving appropriate padding between elements. */
/* Add extra padding to the tops and bottoms */
p:first-child,     /* If there's no heading at all */
h1+p, h2+p, h3+p { /* If there is */
  padding-top: 15px;
}
p:last-child {
  padding-bottom: 15px;
}
/* Mid section headings need extra margin */
p+h1,  p+h2,  p+h3,
ul+h1, ul+h2, ul+h3 { margin-top: 7.5px }
/* Make lists at the start/end of a section have more padding */
section ul:first-child, /* If there's no heading */
section h1+ul,
section h2+ul,
section h3+ul { padding-top: 15px }
section ul:last-child { padding-bottom: 15px }


/* [3] Mobile ----------------------------------------------------------- */
@media screen and (max-width: 1000px) {
  /* Single column mode */
  .left, .right, .row {
    width: 100%;
    display: block;
  }
/* ! only needed for .skip maybe fix later */
  #menu ul, #inner-menu ul, .skip { text-align: center !important } 

  /* one item per line */
  #menu li { display: block }
  /* take up the whole line */
  #menu li a { 
    display: block;
    width: 100%;
    padding: unset; /* fixes a horzontal scrolling issue */
    margin: unset; /* '' '' */
    line-height: 60px;
  }
  .headerRight { display: none !important }
  /* no middle gap la margin can be same */
  .left section, .right section { margin: 10px }
