/* Sitewide {{{ */
/* Colours {{{ */
/* Dark mode (default & toggle) {{{ */
:root, :root[data-force-color-mode="dark"] {
  --black:           #1e2029;
  --black-lighter:   #282a36;
  --white:           #f8f8f2;
  --white-lighter:   #ffffff;

  --red:             #ff5555;
  --red-lighter:     #ff5555;
  --orange:          #ffb86c;
  --orange-lighter:  #ffb86c;
  --yellow:          #f1fa8c;
  --yellow-lighter:  #f1fa8c;
  --green:           #50fa7b;
  --green-lighter:   #50fa7b;
  --blue:            #8be9fd;
  --blue-lighter:    #8be9fd;
  --purple:          #bd93f9;
  --purple-lighter:  #bd93f9;
  --pink:            #ff79c6;
  --pink-lighter:    #ff79c6;

  --bg: var(--black-lighter);
  --bg-lighter: #44475a;
  --fg: var(--white);
  --row-bg: var(--black);

  --accent: var(--blue);
  --accent-fg: var(--black);
  --accent-darker: var(--blue);
  --accent-fg-darker: var(--black);
  --accent-contrast: var(--pink);
  --accent-contrast-darker: var(--pink);

  --header-bg: var(--bg);
  --header-bg-alt: --var(--bg-lighter);
  --header-fg: var(--fg);
  --header-fg-alt: var(--fg);
  --header-actived-fg: var(--fg);
  --header-actived-bg: #6272a4;
  --header-focused-fg: var(--header-actived-fg);
  --header-focused-bg: var(--header-actived-bg);
  --header-hovered-fg: var(--header-actived-fg);
  --header-hovered-bg: var(--header-actived-bg);

  --section-bg: var(--bg);
  --section-fg: var(--fg);
  --section-border: transparent;
  --section-border-focus: solid #6272a4;
  --section-border-size: 2px;
  --section-header-fg: var(--fg);
  --section-header-bg: var(--bg-lighter);
  --section-header-padding: 10px 20px;

  --skip-bg: var(--pink);
  --skip-fg: var(--black);
  --code-bg: var(--black);
  --code-fg: var(--fg);

  --link-regular-fg: var(--blue);
  --link-regular-bg: transparent;
  --link-visited-fg: var(--orange);
  --link-visited-bg: transparent;
  --link-hovered-fg: var(--pink); 
  --link-hovered-bg: transparent;
  --link-focused-fg: var(--link-hovered-fg);
  --link-focused-bg: var(--link-hovered-bg);
  --link-actived-fg: var(--link-hovered-fg);
  --link-actived-bg: var(--link-hovered-bg);
  
  --selection-fg: var(--fg);
  --selection-bg: var(--pink);
  --focus-size: 3px;
  --focus: var(--accent-contrast);
}
/* }}} */
/* Light mode (browser/OS setting) {{{ */
@media (prefers-color-scheme: light) { :root {
  --black:           #1c1c1c;
  --black-lighter:   #585858;
  --white:           #d7afaf;
  --white-lighter:   #f8f8f2;

  --red:             #af0000;
  --red-lighter:     #d70000;
  --orange:          #000000;
  --orange-lighter:  #000000;
  --yellow:          #b67200;
  --yellow-lighter:  #ffaf00;
  --green:           #005f5f;
  --green-lighter:   #00875f;
  --blue:            #005f87;
  --blue-lighter:    #0087d7;
  --purple:          #5f005f;
  --purple-lighter:  #875f87;
  --pink:            #af005f;
  --pink-lighter:    #d8005f;

  --bg: #ffd477;
  --bg-lighter: #ffe1b0;
  --fg: #1a1b22;
  --row-bg: transparent;

  --accent: var(--yellow-lighter);
  --accent-fg: var(--black);
  --accent-darker: var(--yellow);
  --accent-fg-darker: var(--bg);
  --accent-contrast: var(--red-lighter);
  --accent-contrast-darker: var(--red);

  --header-bg: var(--yellow-lighter);
  --header-bg-alt: #ffbc56;
  --header-fg: var(--fg);
  --header-fg-alt: var(--fg);
  --header-actived-fg: var(--bg);
  --header-actived-bg: var(--accent-darker);
  --header-focused-fg: var(--bg);
  --header-focused-bg: var(--accent-darker);
  --header-hovered-fg: var(--bg);
  --header-hovered-bg: var(--accent-darker);

  --section-bg: var(--bg-lighter);
  --section-fg: var(--fg);
  --section-border: var(--accent-darker);
  --section-border-focus: dashed var(--accent-contrast-darker);
  --section-border-size: 2px;
  --section-header-fg: var(--accent-contrast-darker);
  --section-header-bg: var(--section-bg);
  --section-header-padding: 10px 20px 0px;

  --skip-bg: var(--black);
  --skip-fg: #ffffff;
  --code-bg: var(--accent);
  --code-fg: var(--fg);

  --link-regular-fg: var(--blue);
  --link-regular-bg: transparent;
  --link-visited-fg: var(--purple);
  --link-visited-bg: var(--link-regular-bg);
  --link-hovered-fg: var(--fg); 
  --link-hovered-bg: var(--accent);
  --link-focused-fg: var(--link-hovered-fg);
  --link-focused-bg: var(--link-hovered-bg);
  --link-actived-fg: var(--link-hovered-fg);
  --link-actived-bg: var(--link-hovered-bg);
  
  --selection-fg: var(--bg);
  --selection-bg: var(--black);
  --focus-size: 1px;
  --focus: var(--accent-contrast-darker);
}}
/* }}} */
/* Light mode (manual toggle) {{{ */
:root[data-force-color-mode="light"] {
  --black:           #1c1c1c;
  --black-lighter:   #585858;
  --white:           #d7afaf;
  --white-lighter:   #f8f8f2;

  --red:             #af0000;
  --red-lighter:     #d70000;
  --orange:          #000000;
  --orange-lighter:  #000000;
  --yellow:          #b67200;
  --yellow-lighter:  #ffaf00;
  --green:           #005f5f;
  --green-lighter:   #00875f;
  --blue:            #005f87;
  --blue-lighter:    #0087d7;
  --purple:          #5f005f;
  --purple-lighter:  #875f87;
  --pink:            #af005f;
  --pink-lighter:    #d8005f;

  --bg: #ffd477;
  --bg-lighter: #ffe1b0;
  --fg: #1a1b22;
  --row-bg: transparent;

  --accent: var(--yellow-lighter);
  --accent-fg: var(--black);
  --accent-darker: var(--yellow);
  --accent-fg-darker: var(--bg);
  --accent-contrast: var(--red-lighter);
  --accent-contrast-darker: var(--red);

  --header-bg: var(--yellow-lighter);
  --header-bg-alt: #ffbc56;
  --header-fg: var(--fg);
  --header-fg-alt: var(--fg);
  --header-actived-fg: var(--bg);
  --header-actived-bg: var(--accent-darker);
  --header-focused-fg: var(--bg);
  --header-focused-bg: var(--accent-darker);
  --header-hovered-fg: var(--bg);
  --header-hovered-bg: var(--accent-darker);

  --section-bg: var(--bg-lighter);
  --section-fg: var(--fg);
  --section-border: var(--accent-darker);
  --section-border-focus: dashed var(--accent-contrast-darker);
  --section-border-size: 2px;
  --section-header-fg: var(--accent-contrast-darker);
  --section-header-bg: var(--section-bg);
  --section-header-padding: 10px 20px 0px;

  --skip-bg: var(--black);
  --skip-fg: #ffffff;
  --code-bg: var(--accent);
  --code-fg: var(--fg);

  --link-regular-fg: var(--blue);
  --link-regular-bg: transparent;
  --link-visited-fg: var(--purple);
  --link-visited-bg: var(--link-regular-bg);
  --link-hovered-fg: var(--fg); 
  --link-hovered-bg: var(--accent);
  --link-focused-fg: var(--link-hovered-fg);
  --link-focused-bg: var(--link-hovered-bg);
  --link-actived-fg: var(--link-hovered-fg);
  --link-actived-bg: var(--link-hovered-bg);
  
  --selection-fg: var(--bg);
  --selection-bg: var(--black);
  --focus-size: 1px;
  --focus: var(--accent-contrast-darker);
}
/* }}} */
/* }}} */
/* Big Things {{{ */
html { 
  background-color: #282a36;
  background-color: var(--bg);
  font-family: Calibri, Tahoma, sans-serif;
  font-size: 18pt;
  height: 100%;
  /* helps with the "fake viewport border" look */
  padding: 2px;
}
/* Add narrow lines at the top and bottom of the viewport */
/* These aren't needed on the sides (just a 2px padding fakes the look) */
html:before, html:after {
    content: "";
    position: fixed;
    background: #282a36;
    background: var(--bg);
    left: 0;
    right: 0;
    height: 2px;
}

html:before { top: 0 }
html:after { bottom: 0 }

body { margin: 0 } /* Defaults to 8?? */

/* Body is split into two parts, both inside of a row. */
/* It makes sure .left and .right take up a good amount of space */
.row {
  background: #1e2029;
  background: var(--row-bg);
  display: flex;
  max-width: 1279px;
  margin: 0 auto;
}
.left  { flex: 29% }
.right { flex: 71% }
/* }}} */
/* Headings {{{ */
h1, h2, h3, 
h4, h5, h6 {
  color: #f8f8f2;
  color: var(--section-header-fg);
  margin: 0; /* defaults to 0.83em? */
  line-height: 100%; /* Defaults to... more than that */
}
/* Heading sizes */
h1 { font-size: 22pt }
h2 { font-size: 22pt }
h3 { font-size: 22pt }
h4 { font-size: 20pt }
h5 { font-size: 18pt }
h6 { font-size: 17pt }
/* }}} */
/* Regular text {{{ */
p, ol, ul {
  color: #f8f8f2;
  color: var(--fg);
  line-height: 140%; /* The default is slightly more than this */
}

p { 
  padding: 7.5px 15px; /* See [PS], there's a lot of magic affecting this */
  margin: 0; /* defaults to 1em? */
}
ol, ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li { padding: 0 }

code {
  width: 90%;
  color: #f8f8f2;
  color: var(--code-fg);
  background: #1e2029;
  background: var(--code-bg);
  display: inline-block;
  margin: 2.5%;
  padding: 2.5%;
}
/* }}} */
/* Links {{{ */
a:link    { 
  color: #8be9fd;
  color: var(--link-regular-fg);
  background: transparent;
  background: var(--link-regular-bg);
}
a:visited { 
  color: #ffb86c;
  color: var(--link-visited-fg);
  background: transparent;
  background: var(--link-visited-bg);
}
a:hover {
  color: #ff79c6;
  color: var(--link-hovered-fg);
  background: transparent;
  background: var(--link-hovered-bg);
}
a:active {
  color: #ff79c6;
  color: var(--link-actived-fg);
  background: transparent;
  background: var(--link-actived-bg);
}
a:focus {
  color: #ff79c6;
  color: var(--link-focused-fg);
  background: transparent;
  background: var(--link-focused-bg);
}
/* }}} */
/* Focus {{{ */
/* Highlighted text */
::selection {
  color: #f8f8f2;
  color: var(--selection-fg);
  background-color: #ff79c6;
  background-color: var(--selection-bg);
}
/* Focus indicator */
:focus {

  box-shadow: inset 0 0 0 3px #ff79c6 !important;
  box-shadow: inset 0 0 0 var(--focus-size) var(--focus) !important;
  outline: none;
}
/* }}} */
/* }}} */
/* Header Specific {{{  */
header {
  background: #282a36;
  background: var(--header-bg);
}

/* Display top navbar's items all on the same line */
#menu li, #inner-menu li { display: inline-block }
/* jump tos etc are different */
#inner-menu li, #inner-menu a { 
  width: 100%; 
  box-sizing: border-box;
}
/* General header link styling */
#menu li a,     /* Top nav bar links */
#menu li label, /* Theme toggle */
#inner-menu a { /* Jump-tos and other in-page menus */
  color: #f8f8f2;
  color: var(--header-fg);
  padding: 0.1em 0.6em; /* 2px to ensure it aligns with my browser UI */
  text-decoration: none; /* Don't underline */
  text-transform: lowercase;
  line-height: 100%; /* Helps with alignment */
}
/* Alternating colours for header and other menus */
#menu li:nth-child(2n):not(.active) a,
#inner-menu li:nth-child(2n) a { 
  background: #282a36;
  background: var(--header-bg-alt);
  color: #f8f8f2;
  color: var(--header-fg-alt);
} 
/* Jump to menus etc */
#inner-menu a { 
  display: flex;
  justify-content: center;
  margin: 0 !important; /* Avoids clashing with section a:focus */
}
/* Currently active page */
.active a {
  color: #f8f8f2 !important;
  color: var(--header-actived-fg) !important; 
  background: #6272a4;
  background: var(--header-actived-bg);
}
/* Currently hovered/focused link */
#menu a:focus:not(.skip), /* see [PS] */
#inner-menu a:focus,
#toggle-darkmode:focus + label {
  color: #f8f8f2 !important;
  color: var(--header-focused-fg) !important;
  background: #6272a4 !important;
  background: var(--header-focused-bg) !important;
}

#menu li:hover a,
#menu li label:hover,
#inner-menu a:hover { 
  color: #f8f8f2 !important;
  color: var(--header-hovered-fg) !important;
  background: #6272a4 !important;
  background: var(--header-hovered-bg) !important;
}
/* Theme toggle */
#menu > li:last-child { float: right }
/* Only show reset button if override is set */
#reset-darkmode {
  display: none;
  text-decoration: none;
}
[data-force-color-mode] #reset-darkmode {
  display: initial;
}
/* Don't visually show the checkbox */
/* setting display: none would make it inaccessible via tabbing */
/* so we just make it look hidden */
#toggle-darkmode { 
  padding: 0;
  margin: 0;
  appearance: none;
  width: 0;
  height: 0;
}

#toggle-darkmode + label {
  color: #f8f8f2;
  color: var(--header-fg-alt);
  background: #282a36;
  background: var(--header-bg-alt);
}
#toggle-darkmode + label > span {
  display: none
}
#toggle-darkmode + label:after {
  content: "switch to dark mode";
  cursor: pointer;
}
#toggle-darkmode:checked + label:after {
  content: "switch to light mode";
}

/* }}} */
/* Section Specific {{{ */
section {
  margin: 10px;
  background: #282a36;
  background: var(--section-bg);
  color: #f8f8f2;
  color: var(--section-fg);
  border: 2px solid transparent;
  border: var(--section-border-size) solid var(--section-border);
}

.left section { margin-right: 5px }
.right section { margin-left: 5px }

section h1,
section h2,
section h3 {
  padding: 10px 20px;
  padding: var(--section-header-padding);
  background: #282a36;
  background: var(--section-header-bg);
}

section h4,
section h5,
section h6 {
  padding: 10px 20px;
  padding: var(--section-header-padding);
}

/* This gets changed in [PS] */
section ul, section ol { padding: 7.5px 15px }
.right section li {
  list-style-position: outside;
  margin-left: 30px;
}

/* }}} */
/* Post-content {{{ */
/* Webring */
.webRing { text-align: center }
.prev { float: left }
.next { float: right }
/* Banners */
.banners, .bannersPage {
  text-align: center;
  background: none;
  line-height: 0;
}
.banner {
  position: relative; /* Makes the z-index stuff work, see [PS] */
  box-sizing: border-box; /* makes focus border behave */
  width: 88px; /* Default size, gets changed */
  image-rendering: pixelated; /* Look good pixel art */
 /*  border: 12px solid transparent;  */
}

/* If two will fit side by side at double side (including 20px padding) */
@media screen and (min-width: 372px) {
  .banner { width: 176px }
}
/* }}} */
/* Precise Stuff {{{ */
/* Header Specific {{{ */
/* Makes text focus look nicer */
/* Excluding .banners fixes that overflow focus issue */
section:not(.banners) a:focus {
  padding: 0  10px  2px; /* add more space between border and text */
  margin:  0 -10px -2px; /* Don't shift around text when you do */
  text-decoration: none; /* The outline says it's a link */
}
/* Don't show a redundant outline for the "text" */
.banners a { box-shadow: none !important }
/* Show banner focus */
.banners a:focus img {
  z-index: 10;/* display on top */
  outline: 12px solid #ff79c6;
  outline: 12px solid var(--focus);
  outline-offset: 0px; /* make the outline be inset */
}

/* Special coloured header links*/
/* Why?
 * * .headerLeft makes the "home" button more obvious
 * * .skip is important for keyboard only navigation- it's only visible sometimes, and needs to be distinct */

.headerLeft { 
  background: #8be9fd;
  background: var(--accent-darker) !important;
  color: #1e2029;
  color: var(--accent-fg-darker) !important;
}
/* By default, be offscren */
.skip {
  position: absolute;
  left: -1000px;
  color: #1e2029 !important;
  color: var(--skip-fg) !important;
  background: #ff79c6 !important;
  background: var(--skip-bg) !important;
}
/* If focused (e.g. screenreader, pressing tab), make visible */
.skip:focus-within {
  position: static;
  left: 0px;
}
/* }}} */
/* Section Specific {{{ */
/* Better portrait */
/* Why?
 * * Setting the max width will make it look nice, but if the section it's in
 *   gets too narrow, it'll overflow, and that's bad. */
#about img {
  display: block;
  width: 100%; /* If none of the following are supported- looks bad on mobile */
  width: -moz-available; /* Webkit-based browsers will ignore this */
  width: -webkit-fill-available; /* Mozilla-based browsers will ignore this */
  width: fill-available; 
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  image-rendering: pixelated;

}

/* Section Focus */
/* Why?
 * * Just a tiny extra show of focus, and it's fun
 * * It's especially precise because it looks bad on the banner section
 *   but like, I could modify it later to be good
 * 
 *   If I do, I should move this to the regular section */

section:not(.banners):focus-within { 
  border: 2px solid #6272a4;
  border: 2px var(--section-border-focus);
}

/* Outlines on the banners look bad, so i don't */
.banners {
  background: transparent;
  border: 2px solid transparent;
}
/* Special Section Aesthetic Nonsense */
/* Why?
 * * Visually, we want it to look like sections have a heading "on top" of them
 * * This is semantically bad, and the alternative (having a div for everything
 *   but the headings) is awful.
 * * So, we "fake" that look by giving appropriate padding between elements. */
/* Add extra padding to the tops and bottoms */
p:first-child,     /* If there's no heading at all */
h1+p, h2+p, h3+p { /* If there is */
  padding-top: 15px;
}
p:last-child {
  padding-bottom: 15px;
}
/* Mid section headings need extra margin */
p+h1,  p+h2,  p+h3,
ul+h1, ul+h2, ul+h3,
ol+h1, ol+h2, ol+h3 { margin-top: 7.5px }
/* Make lists at the start/end of a section have more padding */
section ul:first-child, /* If there's no heading */
section h1+ul,
section h2+ul,
section h3+ul,
section ol:first-child,
section h1+ol,
section h2+ol,
section h3+ol { padding-top: 15px }
section ul:last-child,
section ol:last-child { padding-bottom: 15px }
/* }}} */
/* }}} */
/* Mobile {{{ */
@media screen and (max-width: 1000px) {
  /* Single column mode */
  .left, .right, .row {
    width: 100%;
    display: block;
  }
/* ! only needed for .skip maybe fix later */
  #menu ul, #inner-menu ul, .skip { text-align: center !important } 

  /* one item per line */
  #menu li { display: block }
  /* take up the whole line */
  #menu li a,
  #menu li label { 
    display: block;
    width: 100%;
    padding: unset; /* fixes a horzontal scrolling issue */
    margin: unset; /* '' '' */
    line-height: 60px;
  }
  .headerRight { display: none !important }
  /* no middle gap la margin can be same */
  .left section, .right section { margin: 10px }
/* }}} */
" vim: set sw=2 ts=2 sts=2 et tw=80 ft=vim fdm=marker:
