@font-face {
  font-family: "Fairfax Pona HD", "linja lipamanka", sans-serif;
  src: local("Fairfax Pona HD"), local("Fairfax Pona"), 
       url('/fonts/fairfax.ttf')  format('truetype');
}

p, p a, button, h1, h2, h3, h4, h5, h6, #menu ul li a {
  max-width: 40ch;
  line-height: 120%;
  font-family: "Fairfax Pona HD";
  font-style: normal;
  font-size: 3vw;
  font-weight: initial;
  text-transform: initial;
  white-space: nowrap;
  font-feature-settings: "ss19";
}

@media screen and (max-width: 1000px) {
  p, p a, button, h1, h2, h3, h4, h5, h6, #menu ul li a {
    font-size: max(4.5vw,140%);
  }
}

/* line spacing */
footer p { margin: 1% auto } 
/* links don't break monospace */
footer p a {
  padding: 0px;
  font-size: inherit;
}

#menu ul li a { padding: 0px }
/* theme switcher don't break monospace */
.theme-switcher { 
  display: flex;
  padding: 0 25%;
}
button { 
  padding: 0px 2ch;
}
/* headings don't break mono */

h2 a, h3 a, h4 a, h5 a, h6 a {
  padding: 0;
}
div[id] {
  padding: 0;
 /*  background-color: var(--site-bg-muted);*/
}
div[id]:not(:focus) {
  border-bottom: 4px dashed var(--site-bg-muted);
  margin-bottom: -4px;
}

/* keep focus highlight on top */
button:focus, button:hover, #menu ul li a:hover, #menu ul li a:focus { 
  position: relative;
  z-index: 2;
}
/* keep active highlight on top, but not as hard */
button[aria-pressed="true"] {
  position: relative;
  z-index: 1;
}

